<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>First App Home Page</title>
</head>
<body>
    <center> <h1 ><i>यह है Django मेरी जान, Django Unchained</i></h1>
    <h3>with <3 from python!!!!!!</h3>
    <!-- Text injection below -->
    {{ insert_me }}<br><br>
    <!-- Complex injection code below -->
    <img src="{% static "images/cover.png" %}" alt="Image not found 404">
    </center>
</body>
</html>